<ion-content has-header="true" has-bouncing="false" >
  La ruta del archivo para enviarle a Omar es: {{ archivin }}
  <br clear="all"><br>
  <a href="#/record_video">Volver a empezar</a> 
</ion-content>