<ion-content has-header="true" has-bouncing="false" >
  <div>
    <br clear="all"><br>
    <b>CLICK EN EL BUTÓN PARA CONFIRMAR QUE QUIERE ENVIARLE LOS LOGS AL PROGRAMADOR</span></b>
    <br clear="all"><br>
    <button ng-click="sendLogs()" class="button button-icon icon ion-email" style="background-color:orange !important;">
      Enviar ahora!
    </button>
    <br clear="all"><br><br><br>
    <a ng-click="startAgain()">VOLVER A EMPEZAR</a>
  </div> 
  <br clear="all"><br>
  {{ filecontent1 }}
</ion-content>