<ion-view title="<i style='font-weight: bold;'>{{title_recording}}</i>">
  <ion-nav-bar class="custom-color-record" align-title="center">
    <ion-nav-buttons>
    <!--
      <button ng-click="sendEmail()" class="button button-icon icon ion-email" style="color:#FFFFFF !important;">
        Enviar logs al programador
      </button>
    -->
    </ion-nav-buttons>
  </ion-nav-bar >
	<ion-content class="background">
  </ion-content>
  <div class="bar bar-footer" style="height: 25%; background-color:#20252A; color:white;">
    <div style="margin:0 auto; position:relative; top:20px;text-align: center;padding-bottom:10px;">
      <p id="recording-text">Grábate para que la empresa te conozca.</p>
      <img id="button-recording"src="img/ic_grabar.png" width="80px" height="80px" alt="" ng-click="switchRecord()">
    </div>
  </div>
 </ion-view>