<ion-view title="<i style='font-weight: bold;'>{{title_recording}}</i>">

  <ion-nav-bar class="custom-color-record" align-title="center">
    <ion-nav-buttons>
      <button class="button button-icon ion-chevron-left custom-white custom-color-record" ng-click="goback()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar >
  <ion-content class="background" style="background-color:#000000;">
    <br clear="all"/><br>
  	<video id="new_video_candidate" name="candidate_video" poster="" ng-src="{{videoRecorded}}" autoplay style="background-color:green; margin:0px; padding:0px; width: 100% !important;  height: auto !important; -moz-transform: rotate(90deg) scaleX(-1); -o-transform: rotate(90deg) scaleX(-1); -webkit-transform: rotate(90deg) scaleX(-1); transform: rotate(90deg) scaleX(-1);"></video>
	</ion-content>
  <div class="bar bar-footer" style="height: 25%; background-color:#20252A; color:white;">
    <div style="margin:0 auto; position:relative; top:20px;text-align: center;padding-bottom:10px;">
      <div class="row">
        <div class="col">
          <img id="button-recording"src="img/ic_reintentar.png" width="40px" height="40px" alt="" ng-click="record_again()">
          <span class="my-new-video-span">REINTENTAR</span>
        </div>
        <div class="col">
          <!--
          <div style="position:relative; bottom: 20px;">
            <img id="button-recording"src="img/ic_listo.png" width="80px" height="80px" alt="" ng-click="upload_video()">
            <span class="my-new-video-span">LISTO</span>
          </div>
          -->
        </div>
        <div class="col">
        <div>
          <img id="button-review"src="img/ic_previsualizar.png" width="40px" height="40px" alt="" ng-click="review()">
          <span class="my-new-video-span">REPRODUCIR</span>
          </div>
        </div>
      </div>
    </div>
  </div>


 </ion-view>