.positiontab{
  margin-top: -12%;
}

.marginlistcandidates{
  margin-top: 104px;
}

.candidate-name{
  position: relative;
  margin:0px !important;
}
.candidates-name{
  position: fixed;
}

.candidate-img{
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  height: 5%;
  width: 15%; 
}

.candidate-arrow{
  position: relative;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}
.tabs{
  height: 60px;
}

.tabs .tab-item .icon{
  position:relative;
  bottom: 10px
}

.tabs .tab-item .icon.accepted {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 120%;
  background-image: url('../img/ico/Aprobados_on.png');
  background-size:58%;
  /*border-bottom: solid;
  margin: 5px 0;
  border-color: #019DFF;*/
}

.tabs .tab-item .icon.accepted_off {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/ico/Aprobados_off.png');
  height: 120%;
  background-size:58%;
}

.tabs .tab-item .icon.rejected {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 120%;
  background-image: url('../img/ico/Rechazados_on.png');
  background-size:60%;
  /*border-bottom: solid;
  margin: 5px 0;
  border-color: #019DFF;*/
}

.tabs .tab-item .icon.rejected_off {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/ico/Rechazados_off.png');
  height: 120%;
  background-size:60%;
}

.tabs .tab-item .icon.news {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 120%;
  background-image: url('../img/ico/Nuevos_on.png');
  background-size:38%;
  /*border-bottom: solid;
  margin: 5px 0;
  border-color: #019DFF;*/
}

.tabs .tab-item .icon.news_off {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/ico/Nuevos_off.png');
  height: 120%;
  background-size:38%;
}

.tabs .tab-item .icon.news1 {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 120%;
  background-image: url('../img/ico/en_espera_on.png');
  background-size:48%;
  /*border-bottom: solid;
  margin: 5px 0;
  border-color: #019DFF;*/
}

.tabs .tab-item .icon.news1_off {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/ico/en_espera_off.png');
  height: 120%;
  background-size:49%;
}

.callico{
  position: relative;
  float: right;
  height: 42px;
  width: 42px;
}

.list .item
{
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}
.tabs {
  background: white;
}

.candidates_date{
  font-size: 10px;
  position: fixed;
  margin-top: 30px;
}
.candidate_date{
  position: relative;
  top: 2px;
  text-align: right;
  color: #9F9F9F;

}

.candidate_name{
  font-size: 20px;
  color: #767676;
  font-weight: bold;
  padding-left: 12px;
  padding-top: 5px;
}
.candidates_name{
  font-size: 17px;
  color: #3A4750;
  padding-left: 12px;
  padding-top: 5px;
  margin-top: 30px;
}
.candidate_phone{
  font-size: 17px;
  color: #9F9F9F;
  padding-left: 17px;
}
.footer_candidate{
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  z-index:100;
}
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 50%;
  width: 25px;
  padding: 25px;
  font-size: 20px;
  background: #018BFF;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -10px; /* Note, this must be half the font size */
  color: white;
}
.number_news{
  width:20px;
  height:20px;
  background-color:#ED1E33;
  z-index:1;
  position:absolute;
  top:50px;
  left:230px;
  border-radius: 50%;
  color:white;
  text-align: center;
  padding-top: 1px;
  font-size: 12px;
}
