.downbuttom{
  padding: 5px 15px;
  border-radius: 3px;
  color: #FFF;
  font-size: 17px;
  color: #FFFFFF;
  font-family: "AvenirLTStdMedium";
  width: 95%;
  text-align: center;
  height: 50px !important;
  margin-left: 2.5%;
  background-color: #FA0035;
  position: absolute;
  bottom: 30px;
}

.upbuttom{
  padding: 5px 15px;
  border-radius: 3px;
  color: #FFF;
  font-size: 17px;
  color: #FFFFFF;
  font-family: "AvenirLTStdMedium";
  width: 105%;
  text-align: center;
  height: 50px !important;
  margin-left: -2.0%;
  background-color: #FA0035;
  bottom: 30px;
}

.code{
  border-radius: 3px;
  font-size: 17px;
  font-family: "AvenirLTStdMedium";
  height: 50px;
  width: 95%;
  text-align: center;
}

.code::-webkit-input-placeholder {
    color:    #999;
}
.code:-moz-placeholder {
    color:    #999;
}
.code::-moz-placeholder {
    color:    #999;
}
.code:-ms-input-placeholder {
    color:    #999;
}