/* Empty. Add your own CSS if you like */

.initialmargintop{
  margin-top: 10%;
}

.initialcenter{
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:27px;
}

.initialhastag{
  font-size: 17px;
}

.relative{
  position: relative;
  top: 50%;
}

.button3{
  width: 100%;
  margin-top: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 100;
}

.whitebuttom{
  border-radius: 3px;
  font-size: 12px;
  line-height:100%;
  padding-top: 9px;
  background-color: #FFFFFF;
  color: #019DFF;
  opacity: 0.9;
  height: 50px;
  width: 44%;
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px 18px 18px 18px;
  -webkit-border-radius: 18px 18px 18px 18px;  
  float:left;
}

.initialbluecolor{
  background-color: #019DFF;
  color: #FFFFFF;
}

.bottom{
  padding-top: 3%;
  bottom: 40%;
  color: #FFF;
  font-size: 17px;
  font-family: "AvenirLTStdMedium";
}

.initialbackground{
  background-image: url("../img/imagen_bg.png");
  background-repeat:no-repeat;
  background-size: 100% Auto;
  background-position: center;
} 
.input_login{
  color: black !important;
  border: 1px solid black !important;
  width: 100%;
  padding: 20px !important;
}
.enter-button {
  width:90%;
  background-image: url("../img/round-rectangle-1.png");
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom:9px;
  font-size:18px;
  color:#FFFFFF;
  font-weight:bold;
  padding-bottom:9px;
}
.enter-button span{
  color:#043B14;
  margin-bottom:9px;
}
.miniaturfont {
  font-size:9px;
}

