.b1{
	width: 3.2%;
	height: 3.2%;
	background-image: url("../img/ico/Circularbox_on.png") !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	background-color: rgba(0,0,0,0);
	display: inline-block;
  position:relative;
  padding-bottom: 5%; 
}

.b2{
	width: 3%;
	height: 3%;
	background-image: url("../img/ico/Circularbox_off.png") !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	background-color: rgba(0,0,0,0);
	display: inline-block;
  position:relative;
  padding-bottom: 5%;
}

.b3{
	width: 3.2%;
	height: 3.2%;
	background-image: url("../img/ico/Circularbox_on.png") !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	background-color: rgba(0,0,0,0);
	display: inline-block;
  position:relative;
  padding-bottom: 5%;
}

.b4{
	width: 3%;
	height: 3%;
	background-image: url("../img/ico/Circularbox_off.png") !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	background-color: rgba(0,0,0,0);
	display: inline-block;
  position:relative;
  padding-bottom: 5%;
}

.page1{
	height: 100%;
	width: 100%;
	text-align: center;
}

.intros_images{
	margin-top: 20%;
	zoom: 50%;
	margin-bottom: 10%;
  height:50%;
}

.intros_big_image{
	margin-top: 20%;
	zoom: 47%;
	margin-bottom: 10%;
}

.user_background{
	background-color: #fbfbfb;
}

.company_background{
	background-color: #d7f8fd;
}

.progress {
  bottom:9px;
}