 @font-face {
  font-family: 'AvenirLTStdLight';
  src: url('../fonts/AvenirLTStdLight.eot');
  src: url('../fonts/AvenirLTStdLight.eot') format('embedded-opentype'),
       url('../fonts/AvenirLTStdLight.woff') format('woff'),
       url('../fonts/AvenirLTStdLight.ttf') format('truetype'),
       url('../fonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStdMedium';
  src: url('../fonts/AvenirLTStdMedium.eot');
  src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'),
       url('../fonts/AvenirLTStdMedium.woff') format('woff'),
       url('../fonts/AvenirLTStdMedium.ttf') format('truetype'),
       url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

i,h2, h3, h4, h5, h6, button, input, select, textarea {
    font-family: "AvenirLTStdLight";
}
.i1{
  font-family: "AvenirLTStdMedium";
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #FFFFFF;
  padding: 0;
}

.center{
  width: 80%;
  margin: auto;
  text-align: center;
}

.center1{
  width: 90%;
  margin: auto;
  text-align: center;
}

.font-color{
  color: #019DFF;
}

.background{
  background-color: #DBF1FC;
  border: none;
}

.custom-blue{
  background-color: #019DFF;
  color: #FFFFFF;
  border: none;
}

.custom-blue2{
  background-color: #A9CCF2;
  color: #000000;
  border: none;
}

.custom-blue3{
  background-color: #DFEFFF;
  color: #000000;
  border: none;
}

.custom-red{
  background-color: #F7003A;
  color: #FFFFFF;
  border: none;
}

.custom-white{
    background-color: #019DFF;
    border-color: #019DFF;
    color: #FFFFFF;
}

.custom-white2{
    background-color: #DFEFFF;
    border-color: #DFEFFF;
    color: #457AFF;
}

.custom-white1{
    background-color: #019DFF;
    border-color: #019DFF;
    color: #FFFFFF;
    opacity: 0.8;
}

.topheader{
  margin-top: -12%
}
.border{
  padding-top: 40px;
}

.border-center{
  padding-top: 50%;
}


.checkbox input:before, .checkbox-icon:before {
  border-radius: 15%;
  border: none;
  background-image: url("../img/ico/ic_notificar_off.png") !important;
  background-size: cover;
  height: 70%;
  width: 70%;
  margin-top: -10%;
  margin-left: -50%;
}

.checkbox-blue input:checked:before, .checkbox-blue input:checked + .checkbox-icon:before {
  background-image: url("../img/ico/ic_notificar_on.png") !important;
  background-size: cover;
  border: none;
  background-color: #FFFFFF;
}

.checkbox input:after, .checkbox-icon:after {
  border: none;
}

body, .ionic-body {
    position: static;
}


.inlineblock{
  display: inline-block;
  position: relative;
}

.fontmenu{
  float: center;
  padding-left: 10px;
  opacity: 0.4;
}

.logout{
  color: #019DFF;
  float: right;
  padding-right: 45px;
}

.margintop{
  color: #FFF;
  margin-top: 40px;
  font-size: 20px;
}

.margintop1{
  color: #FFF;
  margin-top: 20px;
  font-size: 17px;
}

.cancelcolor{
  background-color: #FFC600;
  color: #FFFFFF;
  border: none;
}

/*input[type="text"]::-webkit-input-placeholder {
  color: #FFFFFF !important;
}*/

/*input[type="password"]::-webkit-input-placeholder {
  color: #FFFFFF !important;
}*/

input[type="search"]::-webkit-input-placeholder {
  color: #019DFF !important;
  font-size: 15px;
}

input[type="search"]::-webkit-input-placeholder {
  color: black !important;
}
.input-white::-webkit-input-placeholder {
  color: #FFFFFF !important;
}

.input-black::-webkit-input-placeholder {
  color: #000000 !important;
}

.button_new {
  color: #00182C !important;
}     

.background-lightblue {
  background-color:#A8CBF1;
}

.button_rounded {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 0px;
  color:#001E36;
}

.input-error::-webkit-input-placeholder{
  color:red !important;
}


input[type="text"]:focus {
  color: #FFFFFF;
}

input[type="password"]:focus {
  color: #FFFFFF;
}

input[type="search"] {
  color: #019DFF;
}

textarea[type="tel"]::-webkit-input-placeholder{
  color: red !important;
}

.ion-record:before {
  color: rgba(0,0,0,0);
}

.slider-pager-page.active{
  background-image: url("../img/ico/Circularbox_on.png") !important;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slider-pager-page {
  background-image: url("../img/ico/Circularbox_off.png") !important;
  background-size: 100%;
  background-repeat: no-repeat; 
  position: relative;
  top: -3000%;
  position: center;
  margin: 0px 10px !important; 
}

.item-input-wrapper{
  background-color: #FFFFFF;
}

.button-full{
  border-radius: 2px;
  border: none;
}

.bordermenu{
  border: none;
  padding-left: 30px;
}

.menutop{
  position: relative !important;
}

.backgroungmenu{
  background-image: url("../img/background_menu_drawer.png");
  background-size: cover;
}

.faqcolor{
  background-color: #CFCFCF;
}

.bar.bar-light {
    background-color: rgba(255,255,255,.0) !important; /* or transparent, or background:none */
    background-image: none !important;
}

.bar-light .button.button-icon {
  color: #FFFFFF;
}

.button-right{
  float: right;
  margin-left: 600%;
}

.scroll-content {
  overflow: visible !important;
}

.general_footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  text-align: center;
}
.info_letter{
  color: #003765;
  font-weight: bold;
  font-size: 18px;
}

.popup-container{
}

.popup {
  border-radius: 2% !important;
  border: 2px solid white;
  width: 85% !important;
  background: white !important;
}

.popup-head{
  background: white !important;
  border-bottom: none;
}

.popup-title {
}

.popup-body{
  background: white !important;
}

.popup-buttons {
  height: 20% !important;
  background: white !important;
}

.popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}

.imgpop .popup-container{

}

.imgpop .popup {
  border:0;
  width: 80% !important;
  height: 60% !important;
}

.imgpop .popup-head{
  width: 100%;
  height: 55%;
  border-top-left-radius: 2% !important;
  border-top-right-radius: 2% !important;
  background-image: url("../img/video_banner.png") !important;
  background-size: 100% 100% !important;
  border-bottom: none;
}

.imgpop .popup-title {
}

.imgpop .popup-body{
  margin-top: 5%;
  text-align: center;
  background: white !important;
  padding: 0cm 0cm 0cm 0cm;
  margin: none;
}

.imgpop .popup-buttons {
  margin: 0;
  padding: 2%; 
  background: white !important;
}

.imgpop .popup-buttons .button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 3% !important;
  text-align: center;
}

.notfound .popup-container{
}

.notfound .popup {
  border-radius: 2% !important;
  border: 2px solid white;
  width: 85% !important;
  height:34% !important;
  min-height: 220px !important;
    background: white !important;

}

.notfound .popup-head{
  background: white !important;
  border-bottom: none;
}

.notfound .popup-title {
}

.notfound .popup-body{
    min-height: 120px !important;
    background: white !important;
}

.notfound .popup-buttons {
  height: 20% !important;
  background: white !important;
}

.notfound .popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}

.inscri .popup-container{
  border-radius: 2% !important;
  border: 1px solid rgba(0,0,0,0);
}

.inscri .popup {
  border-radius: 2% !important;
  border: 2px solid white;
  width: 85% !important;
  height:34% !important;
  min-height: 250px !important;
  background: white !important;

}

.inscri .popup-head{
  background: white !important;
  border-bottom: none;
}

.inscri .popup-title {
}

.inscri .popup-body{
    min-height: 120px !important;
    background: white !important;
}

.inscri .popup-buttons {
  height: 20% !important;
  background: white !important;
}

.inscri .popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}

.go_out .popup-container{
}

.go_out .popup {
  border-radius: 2% !important;
  border: 2px solid white;
  width: 85% !important;
  height: 25% !important;
  background: white !important;
}

.go_out .popup-head{
  background: white !important;
  border-bottom: none;
}

.go_out .popup-title {
}

.go_out .popup-body{
    background: white !important;
}

.go_out .popup-buttons {
  background: white !important;
}

.go_out .popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}

.simple .popup-container{
    height: 0% !important;
}

.simple .popup {
  border-radius: 2% !important;
  border: 0px solid white;
  width: 85% !important;
  height: 0% !important;
  background: white !important;
}

.simple .popup-head{
  padding: 0 0;
    height: 0% !important;
  background: white !important;
  border-bottom: none;
}

.simple .popup-title {
    height: 0% !important;
}

.simple .popup-body{
    height: 0% !important;
  background: white !important;
}

.simple .popup-buttons {
    border-radius: 2% !important;
  border: 1px solid rgba(0,0,0,0);
  height: 10% !important;
  background: white !important;
}

.simple .popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}


.server .popup-container{
    height: 0% !important;
}

.server .popup {
  border-radius: 2% !important;
  border: 0px solid white;
  width: 85% !important;
  height: 20% !important;
  background: white !important;
}

.server .popup-head{
  padding: 0 0;
    height: 0% !important;
  background: white !important;
  border-bottom: none;
}

.server .popup-title {
    height: 0% !important;
}

.server .popup-body{
    height: 0% !important;
  background: white !important;
      min-height: 80px !important;
}

.server .popup-buttons {
    border-radius: 2% !important;
  border: 1px solid rgba(0,0,0,0);
  height: 10% !important;
  background: white !important;
}

.server .popup-buttons .button {
    font-size: 15px;
    font-weight: bold;
}

.item1{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 3%;
    border-color: rgba(0,0,0,0);
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.user-img{
  width: 184px;
  height: 238px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  zoom: 50%; 
  padding-top:10%; 
  padding-bottom: 5%;
}
.rot270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  rotation: 270deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.bar-header {
    background-image: none !important;
}

a{
  text-decoration: none;
}

.profile-image-menu{
  border-radius:50%;
  border: 3px solid #BEBEBE;
  margin-top:5%;
}

.redText {
  color:#FF0000;
}