.inscriptionsico{
	float: right;
	height: 42px;
	width: 42px;
	margin-top: -50px;
}
.inscription{
	padding: 0px;
}
.inscription-status{
	color: #0085FF;
	text-transform: uppercase;
	font-size: 10px;

}
.inscription-title{
	color: #595959;
	padding: 5px 0px;
}
.inscription-company{
	color:#AFAFAD;
}
.inscription-date{
	color:#AFAFAD;
	font-size: 12px;
	position: relative;
	direction:rtl;
	right: 20px;
}
.odd-list{
	background-color: #F7F7F7 !important;
}