.logo{
	float: center;
	margin-top: -40%;
	margin-left: 40%;
	padding-bottom: 2%;
	width: 70px;
	height: 80px;
}

.header{
	background-color: #F1F4F2;
	text-align: center;
	min-height: 11%;
	width: 100%;
	margin-top: -10%; 
	color: #3A4750;
	font-size: 15px;
}

.offer{
	position: relative;
  	top: 50%;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 20px;
	height: 40%;
	overflow: scroll;
	overflow-y: auto; 
	overflow-x: hidden;
}

.offercm{
	position: relative;
	top: 9px;
}


.offerh{
	color: #3A4750;
	font-weight: bold;
	font-size: 15px;
	padding-left: 10%;
}

.offesubrh{
	color: #616161;
	font-size: 15px;
	padding-left: 10%;
}

.offerbody{
	text-align: left;
	color: #616161;
	font-size: 15px;
	padding-left: 2%;
	margin-top: 15%;
	margin-right: 2%;
}

.offerq1{
	color: #616161;
	font-size: 15px;
	margin-top: 5%;
	padding-left: 2%;
}
.offer_footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 15px;
	text-align: center;
	background-color: #F1F4F2;
}

.offerinscription{
	width: 94%;
	height: 50px;
	margin: 0 auto;
	position: relative;
	background-color: #FA0035;
	font-weight: bold;

}

.backbutton{
	width: 30%;
	height: 20%;
	color: #FFFFFF;
	float: left;
	border-bottom: none;
}
