.text-public-offer{
  position: relative;
  top: 40px;
}

.page{
  height: 500px;
}

.margin_top_button{
  margin-top: 4.6% !important;
}

.button2{
  width: 120%;
  margin-left: -10%;
  margin-top: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
  position:absolute;
  bottom: 0px;
  z-index: 1;
}

.button-keyboard{
  width: 120%;
  margin-left: -10%;
  margin-top: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 100;
}

.push_offer_ico{
  margin-top: 4%;
  position: absolute;
  left: 10px;
  top: 12px;
  z-index: 100;
  margin-right: 2%;
  padding-bottom: 2%;
  width: 20px;
}

.icodelete{
  margin-right: -5%;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  bottom: 0px;
}
.input_phone_add{
    padding-left: 45px !important;
    padding-top: 7px !important;
    height: 60px !important;
    font-size: 40px !important;
    padding-right: 0px !important;
    color: #8B8B8B !important;
}

.input_phone_add::-webkit-input-placeholder{
  position: relative;
  left: -20px;
  padding-top: 15px;
  font-size: 25px;
}

.hitbox-delete{
  display: inline-flex;
  margin: 0px;
  width: 47px;
  height: 47px;
  position: relative;
  right: 26px;
  top: -8px;
  z-index: 2;
  padding:10px;

}
.slider-pager-page{
  top:0px;
}
.slider-pager{
  top:10px;
  bottom:initial;
}

.label-phone-number-input{
  display: inline-block;
  width: 75%;
  margin-top: 2%;
  position: relative;
  left: 20px;
}
.firts_input_add_phone{
  display: inline-block;
  width: 100%;
  margin-top: 2%;
  position: relative;
  right: 3px
}
.text-public-offer{
  height: 100%;
}
.inputs-phones-footer{
  margin-top: 24%;
}
.numberlist{
  width: 100%;
  z-index: 1;
  position: relative;
}
.numberlist::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;

}
.numberlist::-webkit-scrollbar-thumb {
    border-radius: 4px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

textarea, input[type="text"]{
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
  border: 1;
  border-radius: 3%;
  border-color: rgba(0,0,0,0);
}

.list_numbers{
  position:relative;
  bottom:0px;
  margin-bottom: 300px;
}

.div_numbers{
  position:relative;
  padding: 30px 0px 20px 0%;
  left: 0px; 
  margin:0 auto; 
  width: 80%;
  font-size: 25px; 
  background-color: transparent; 
  border-bottom: 1px solid rgba(139, 139, 139, 0.25) !important;
}
.item_number{
  padding: 0px;
  width: 100%;
  background-color: transparent;
}