.date_my_video{
	width: 100%;
	text-align: center;
	padding:15px 0px 0px 0px;
}
.my_video_button{
	width:96% !important;
	position: relative;
	bottom: -5px;
	margin-right: 5px !important;
	margin-left:7px;
}

.footer_my_video{
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  z-index:100;
}
.cont_button_my_video{
	width: 100%;
	height: 70px;
	background-color: #E3E7E4;
	padding:0px;
	position:relative;
	top:10px;
}

.custom-color-record{
	background-color: #20252A;
    color: #FFFFFF;
    border: none;
}
.my-new-video-span{
	text-transform: uppercase;
	font-size: 13px;
}