
.registrerfield{
	color: #FFFFFF;
	border: none;
}

.registrerfield2{
	color: #000000;
	border: none;
}

.finalbuttom{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 15%;
  text-align: center;
}
.finalbuttoms{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 27%;
  text-align: center;
}

.button_user_register{
  padding: 5px 15px;
  border-radius: 3px;
  color: #FFF;
  font-size: 17px;
  color: #019DFF;
  opacity: 0.9;
  font-family: "AvenirLTStdMedium";
  height: 50px;
  width: 95%;
  text-align: center;
  background-color: #FFFFFF;
}

.backbutton{
  position: relative;
  float: left;
  height: 20px;
  margin-top: 15px;
  margin-left: 10px;
  width: 20px;
}

.registrerfieldicon{
  margin-right: 2%;
  float: left;
  padding-bottom: 2%;
  width: 20px;
}

.no-header-line .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
.input-register{
  padding-left: 20px !important;
  color: white !important;
  font-weight: bold;
}

::-webkit-input-placeholder {
    text-transform: none;
}
:-moz-placeholder {
    text-transform: none;
}
::-moz-placeholder {
    text-transform: none;
}
:-ms-input-placeholder {
    text-transform: none;
}

#email_companyregister {
  text-transform: lowercase !important;
}

#email_myprofileregister {
  text-transform: lowercase !important;
}

#email_reg_input {
  text-transform: lowercase !important;
}

#user_edit.email {
  text-transform: lowercase !important;
}
