img {
  max-width: 100%;
  height: auto;
}
input {
  height: 54px !important;
  padding:9px !important;
  border: 3px #E6E6E6 solid !important;
}
a {
  color: #5E012D  !important;
  text-decoration:underline !important; 
}
a:hover {
  color: #5E012D  !important;
  text-decoration:underline !important; 
}
a:active {
  color: #5E012D  !important;
  text-decoration:underline !important; 
}